.card{
    padding: 20px;
    box-shadow: 0px 0px 14px #bfbfbfbf;
    border-radius: 10px;
    flex: 1 1 300px;
    margin-block: 20px;
    background-color: #fff;
}
.card-title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.summary-amount{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    color: green;
}
.amount{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.category-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.sub-title{
    color: #333;
    font-size: 16px;
}
.summary-text{
    font-size: 12px;    
    color: #666;
}