.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.expense-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 14px #bfbfbfbf; */
    border: 1px solid #bfbfbfbf;
}
.expense-form input, .expense-form select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
}
.expense-form input:focus, .expense-form select:focus{
    outline: none;
}
.form-group label{
    margin-bottom: 5px;
    font-weight: 600;
}
.expense-form button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff ;
    cursor: pointer;
}