.expense-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
}
.expense-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}   
.expense-date{
    font-size: 12px;
    color: #666;
}
.expense-title{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;

}   
.expense-amount{
    font-size: 16px;
    font-weight: bold;
}
.expense-category{
    font-size: 12px;
    margin-block: 5px;
}   
.expense-actions{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 1 100px;
    max-width: 300px;
}
.delete-button{
    background-color: red !important;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 1 100px;
}       
.edit-button{
    flex: 1 1 100px;
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}       
.sort-button{
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.expense-form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}
.search-input{
    width: 90%;
}   
.sort-button{
    width: 10%;
}           