.expense-tracker{
    padding: 40px;
}
.main-heading{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.top-container{
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}